<%= render "shared/second-header"%>
<%= render "shared/siftcalendar"%>
<h2>シフト希望修正</h2>
<%= render "shared/edit_form"%>
<%= button_to "削除する", hope_path(@hope.id), method: :delete, class:"hope-destroy" %>

<%= render "shared/second-footer"%>