<%= render "shared/second-header"%>
<div class="new-registration-board">
  <div class="new-user-registration-title">登録方法</div>
  <div class="mail-registration-link">
    <%= button_to new_user_registration_path, method: :get do %>
      <div class="e-mail-icon-image"><%= image_tag "e-mail-icon.png"%>
        <div class="email-registration-titles">メールアドレスで登録</div>
      </div>
    <% end %>
  </div>
  <div class="google-registration-link">
    <%= button_to user_google_oauth2_omniauth_authorize_path, method: :post do %>
      <div class="google-icon-image"><%= image_tag "google-icon.png"%>
        <div class="google-registration-titles">Googleアカウントで登録</div>
      </div>
    <% end %>
  </div>
<%= render "shared/second-footer"%>