<%= render "shared/second-header"%>
<div>
  <%= current_user.name %>
</div>

<%= month_calendar events: @confirm do |date, confirm| %>
  <%= date.day %>
    <% confirm.each do |confirm| %>
    <div>
    <%= link_to edit_confirm_path(confirm), class:"hope-edit" do%>
      <%= confirm.user.name %>
      <%= confirm.work_status.name %>
      <% if confirm.work_status.name == "出勤" %><br>
        <%= "#{confirm.start_time.hour}時#{confirm.start_time.min}分" %>
        <%= "~ #{confirm.end_time.hour}時#{confirm.end_time.min}分" %>
      <% end %>
    <% end %>
    </div>
  <% end %>
<% end %>

<%= render "shared/second-footer"%>