<div class="comments">
  <h4>＜コメント一覧＞</h4>
  <% @comments.each do |comment| %>
    <p>
      <%= comment.user.name %>
      <%= comment.content %>
      <%= "#{comment.created_at.month}""月""#{comment.created_at.day}""日""#{comment.created_at.hour}"":""#{comment.created_at.min}"%>
    </p>
  <% end %>
</div>
<%= form_with model: @comment, local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-comment', placeholder: 'コメントする' %>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>