<div class="comments">
  <div class="comments-title">コメント一覧</div>
    <div class="comment-date-table", id="comment-date-table">
      <% @comments.each do |comment| %>
        <div class="comment-date-times"><%= "#{comment.created_at.month}""月""#{comment.created_at.day}""日""#{comment.created_at.hour}"":""#{comment.created_at.min}"%></div>
        <div class="comment-contents"><%= comment.content %></div>
        <div class="comment-user-name"><%= comment.user.name %></div>
        <% end %>
        <div id = "plascomment"></div>
        <div hidden id = "current_username"><%= current_user.name %></div>
    </div>
  
  <div class="comment-form-table">
    <%= form_with model: @comment, method: :post, id: "comment-form" do |form| %>
      <%= form.text_field :content, class: 'form-comment', placeholder: '  コメントする', id: "form-comment-content" %>
      <%= form.submit '送信', class: 'form-comment-submit', id: "comment-submit" %>
    <% end %>
  </div>
</div>