<%= render "shared/second-header"%>
<div class='main'>
  <div class = shiftname> シフト希望 </div>
  <%= render "shared/siftcalendar"%>
  <div class = shiftname> シフト作成 </div>
  <div id="edit-confirm-calendar">
    <%= render "shared/create_siftcalendar", confirms: @confirms %>
  </div>
  <div class = shift-confirms-main-edit>シフト作成 内容修正</div>
  <div id="edit-confirm-form-id">
    <%= render "shared/create_form", confirms: @confirms%>
  </div>
  <div class = "confirm-destroy-tables">
    <%= button_to "作成画面に戻る", new_confirm_path, method: :get, class:"hope-back-button" %>
    <%= button_to "削除する", confirm_path(@confirm.id), method: :delete, class:"confirm-destroy" %>
  </div>
</div>
<%= render "shared/second-footer"%>