<%= render "shared/second-header"%>
<h2>シフト希望</h2>
<%= render "shared/siftcalendar"%>
<h2>シフト作成</h2>
<%= render "shared/create_siftcalendar"%>
<%= render "shared/create_form"%>
<%= render "shared/second-footer"%>