<%= render "shared/header" %>
<div class='main'>


<%# 画面上部の「分かりやすい、シフト管理アプリ」帯部分 %>
<% unless user_signed_in? %>
  <div class='title-contents'>
    <h2 class='service-title'>
      分かりやすいシフト管理アプリ
    </h2>
    <p class='service-explain'>
      シフト希望&作成とっても簡単に作成できる
    </p>
    <p class='service-explain'>
      シフト管理アプリです
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("app-store.svg", class:"apple-btn"), "#" %>
      <%= link_to image_tag("google-play.png", class:"google-btn"), "#" %>
    </div>
  </div>
<%# /画面上部の「分かりやすい、シフト管理アプリ」帯部分  %>

<%# Wapsが選ばれる理由部分 %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      Wapsが選ばれる理由
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "job_roudousya_young.png", class:"list-pict" %>
        <span class='reason-list-number'></span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>誰でもシフト希望を見ながら</span>
        </h3>
        <p class='reason-list-description'>
          シフト作成が出来る!
        </p>
        <%= image_tag "isogashii_man.png", class:"list-pict" %>
      </li>
      <li class='list'>
        <%= image_tag "furima-intro03.png", class:"list-pict" %>
        <span class='reason-list-number'></span>
        <h3 class='reason-list-text'>
          どこでも
          <span class='reason-list-blue-text'>いつでも</span>
        </h3>
        <p class='reason-list-description'>
          新しいシフトを確認できる！
        </p>
      </li>
    </ul>
  </div>
<% end %>
<%# /Wapsが選ばれる理由部分 %>
<%# シフト表示部分 %>
<% if user_signed_in? %>
  <%= month_calendar events: @confirms do |date, confirms| %>
    <%= date.day %>
      <% confirms.each do |confirm| %>
      <div class="confirms-index-date">
        <%= confirm.user.name %>
        <%= confirm.work_status.name %>
        <% if confirm.work_status.name == "出勤" %><br>
          <%= "#{confirm.start_time.hour}時#{confirm.start_time.min}分" %>
          <%= "~ #{confirm.end_time.hour}時#{confirm.end_time.min}分" %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
  <%# /シフト表示部分 %>

<br>
<% unless user_signed_in? %>
  <%= render "shared/footer" %>
<% else %>
  <%= render "shared/second-footer" %>
<% end %>