<%= render "shared/header" %>
<div class='main'>

<%# 画面上部の「分かりやすい、シフト管理アプリ」帯部分 %>
  <% unless user_signed_in? %>
    <div class='title-contents'>
      <h2 class='service-title'>
        分かりやすいシフト管理アプリ
      </h2>
      <p class='service-explain'>
        シフト希望&作成とっても簡単に作成できる
      </p>
      <p class='service-explain'>
        シフト管理アプリです
      </p>
      <div class='store-btn'>
        <%= link_to image_tag("app-store.svg", class:"apple-btn"), "#" %>
        <%= link_to image_tag("google-play.png", class:"google-btn"), "#" %>
      </div>
    </div>
  <%# /画面上部の「分かりやすい、シフト管理アプリ」帯部分  %>

  <%# Wapsが選ばれる理由部分 %>
    <div class='select-reason-contents'>
      <h2 class='title'>
        Wapsが選ばれる理由
      </h2>
      <ul class='reason-lists'>
        <li class='list1'>
          <%= image_tag "job_roudousya_young.png", class:"list-pict1" %>
          <h3 class='reason-list-text1'>
            <span class='reason-list-blue-text'>誰でもシフト希望を見ながら<br>シフト作成が出来る!</span>
          </h3>
            <div class="square-top-confirm">
              <div class="square1"><div class="squ1-1">w</div></div>
              <div class="square2"><div class="squ2-1">a</div></div>
              <div class="square3"><div class="squ3-1">p</div></div>
              <div class="square4"><div class="squ4-1">s</div></div>
              <div class="square5"><div class="squ5-1">!</div></div>
            </div>
        </li>
        <li class='list2'>
          <%= image_tag "furima-intro03.png", class:"list-pict2" %>
          <h3 class='reason-list-text2'>
            <span class='reason-list-blue-text'>どこでも いつでも<br>新しいシフトを確認できる！</span>
          </h3>
        </li>
      </ul>
    </div>
  <% end %>
  <%# /Wapsが選ばれる理由部分 %>
  <%# シフト表示部分 %>
  <% if user_signed_in? %>
    <div id="confirm-calendar">
      <%= render "shared/create_siftcalendar", confirms: @confirms %>
    </div>
    <%= render "shared/comment_forms" %>
  <% end %>
</div>
  <%# /シフト表示部分 %>
<% unless user_signed_in? %>
  <%= render "shared/footer" %>
<% else %>
  <%= render "shared/second-footer" %>
<% end %>