<%= render "shared/second-header"%>
<div class='main'>
  <div class = shiftname> シフト希望 </div>
  <%= render "shared/siftcalendar"%>
  <div class = shiftname> シフト作成 </div>
  <%= render "shared/create_siftcalendar"%>
  <%= render "shared/create_form"%>
</div>
<%= render "shared/second-footer"%>