<%= render "shared/second-header"%>
<div class='main'>
  <div class = shiftname> シフト希望 </div>
  <div id="hope-calendar">
    <%= render "shared/siftcalendar", hopes: @hopes %>
  </div>
  <div class = shiftname> シフト作成 </div>
  <div id="confirm-calendar">
    <%= render "shared/create_siftcalendar", confirms: @confirms %>
  </div>
  <%= render "shared/create_form"%>
</div>
<%= render "shared/second-footer"%>