<%= render "shared/second-header"%>
<div class='main'>
  <div class = shiftname> シフト希望 </div>
  <div id="s-hope-calendar">
    <%= render "shared/siftcalendar", hopes: @hopes %>
  </div>
  <div class = shiftname> シフト作成 </div>
  <div id="s-confirm-calendar">
    <%= render "shared/create_siftcalendar", confirms: @confirms %>
  </div>
  <div id="confirm-create-form-id">
    <%= render "shared/create_form", confirms: @confirms%>
  </div>
</div>
<%= render "shared/second-footer"%>